<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}"> 
    <title>Document</title>
</head>
<body>
    <nav class="top_nav">
        <h2> <spam>Super </spam>ERP</h2>
    </nav>
    <div class="body_erp">
        <nav class="flutuante">
            
        </nav>
    <div class="dash">
    {% if context == 'compras' %}
    <h2>Compras do usuario</h2>
        <div class="compras_usuario">
            
            {% for x in Carrinho %}
              <div class="card">
                <head>Produto</head>
                <h2> {{ x.Item }} </h2>
                <h3> {{ x.valor }}</h3>
                {% if x.Parcelado != None %}
                    <h4>Este produto sera parcelado em {{ x.Parcelado }} X</h4>
                {% endif %}
              </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if context == 'vendas' %}
        <div>
            <h2>Vendas</h2>
        </div>
    {% endif %}

    {% if context == 'relatorio' %}
        <div>
            <h2>Relatorio</h2>
        </div>
    {% endif %}

    {% if cadastro == True %}
        <h1>Cadastro de produtos</h1>
        <form action="/cad/produto" method="post">
            <label>Nome</label>
            <input required="required" name="nome_produto" type="text">
            <label>Preco</label>
            <input required="required" name="preco_produto" type="number">
            <input  required="required" name="Data_cad" type="date">
            <button> Cadastrar produto </button>
        </form>
    {% endif %}

    {% if status != None %}
        {% for x in status %}
            <h1>{{ x }}</h1>
        {% endfor %}
     
    {% endif %}
</div>
</div>

</body>
</html>